<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">My Planner</a>
  </div>
  <div class="navbar navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown" routerLinkActive="active" appDropdown>
        <a style="cursor: pointer" class="dropdown-toggle" role="button"
          >My Books<span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer">Show all books</a></li>
          <li>
            <a routerLink="/want-to-read" style="cursor: pointer"
              >Want To Read</a
            >
          </li>
          <li>
            <a routerLink="/in-progress" style="cursor: pointer">In Progress</a>
          </li>
          <li>
            <a routerLink="/finished" style="cursor: pointer">Finished</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active"><a routerLink="/to-do">My To Do</a></li>
    </ul>
  </div>
</nav>
